body h2{
    text-align: center;
    background-color:rgb(0, 255, 200);
}
.navbar
{
display: flex;

}
.navul
{
    list-style: none;
    display: flex;
    text-decoration: none;
    text-align: center;
    width: 60%;
    font-size: medium;

}
.navul li{
 padding: 10 20;
}

.hemsaa
{
  border-radius: 50%;
  border-style: solid;
  border-color: cadetblue;

}
.hemsaanav
{
    display: flex;

}
.manit
{
    font-size: larger;
}
.ullist
{  
    text-decoration: none;
    list-style:none;
    text-decoration-style: none;
    font-size: larger;
}
.hobbies
{
    font-size: larger;
}

.contact
{
 text-decoration: none;
 list-style: none;
 font-size: larger;

}
.footer
{
    background-color: rgb(78, 47, 79);
    color: rgb(51, 178, 34);
}
.manit a {
    text-decoration: none;
}